*{
	padding:0px;
	margin: 0px; 
}
body{
	font-family: monospace;
	display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /*background-size: linear-gradient()*/
}
#linearGradient{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	height: 100vh;
	/*background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(https://www.askideas.com/media/15/Puppy-Golden-Labrador-Retriever-Playing-With-Toy.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;                    
  background-repeat: no-repeat;
  background-size: cover;*/
	/*background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),
	url('https://www.knkx.org/sites/kplu/files/styles/x_large/public/201612/Gfp-southern-wisconsin-further-roadway-scenery-at-sunset.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;   
    background-position: center;*/
	background: linear-gradient(to right, rgb(51, 0, 0), rgb(10, 10, 10));
	color: rgba(0,0,0,0.5);
	text-align: center;
}
h1{
	color: #6ab04c;
	font-family: monospace;
    font-weight: 600;
    font-size: 3em;
	padding-top: 0;
	width: 100%;
	/*z-index: 1;*/
}
.mainContainer{
	border: 1px solid #ffffff2e;
    border-radius: 8px;
    height: auto;
    max-width: 440px;
    padding: 2.3em;
	margin: 1em;
	color: #c5c5c5;
    background-color: rgba(0,0,0,0.75);
    height: 480px;
}
.container{
	transform: translate(0%,-10%);
}
.optionButtons{
}
.optionButtons button{
	padding: 19px;
	margin: 10px;
	width: auto;
	transition: 0.1s all;
	background:transparent;
	color: white;
	box-shadow: 0px 0px 2px 2px #2F3334;
	/*border: none;*/
	border-radius: 5px;
	font-size: 1.2em;
}
.optionButtons button:hover{
	transform: scale(1.08);
	cursor: pointer;
}
.container2{
	padding: 20px 0 20px 0;
	animation: cont 3s 1;
	text-align: center;
	visibility: visible;
	position: relative;
}
#currentCss{
	padding: 10px;
	margin: 20px 0 5px 0;
}
h3{
	padding: 20px 0 0 0;
	font-weight: 900;
	font-size: 2em;
}
input{
    background: transparent;
    border: none;
    width: 4em;
    height: 4em;
    transition: 0.1s all;
}
input:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: #00000000;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px #ffffff5c;
}
.container3{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.container3 label{
	font-size: 1.6em;
	padding: 20px;
	text-transform: capitalize;
}
#imageURL{
	font-size: 1.2em;
	width: 75%;
	height: 20px;
	outline: none;
	padding: 2px;
	box-shadow: 0px 0px 2px 2px #2F3334;
	border: 2px solid-black;
	background: transparent;
	color: white;
}
.container3 button{
	padding: 8px;
	width: 120px;
	font-size: 1.15em;
	margin-left: 16px;
	/*position: absolute;
	top: 49%;
	left: 55.5%; */
	transition: 0.2s all;
	border: 2px #03e9f4;
	border-radius: 6px;
	background: transparent;
	color: white;
}
.container3 button:hover{
	transform: scale(1.08);
	cursor: pointer;
	background: #c982ff;
	box-shadow: 0 0 5px #c982ff,
              0 0 25px #c982ff,
              0 0 50px #c982ff,
              0 0 100px #c982ff;
}
#snippet {
    background: white;
    border-radius: 2px;
    width: 32em;
    height: 2em;
	font-family: monospace;
}
#snippet:hover{
	transform: scale(1);
    cursor: pointer;
    background: black;
    border-radius: 3px;
}
.option{
	background: rgba(107, 124, 150, 0.6) ;
	border: 1px solid black;
	cursor: pointer;
}
.tabPanel{
	display: none;
}
.setDirection{
	margin-top: 10px;
}
.setDirection button{
	padding: 15px;
	margin: 5px;
	text-transform: uppercase;
	font-size: 1.1em;
	cursor: pointer;
	color: white;
	background: transparent;

}
.clipBoard{
	font-size: 1.2em;
	padding: 17px;
	transition: 0.2s all;
	width: 60%;
	margin-left: 78px;
}
.clipBoard:hover{
	background: #03e9f4;
	color: black;
	font-size: 1.25em;
	box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
	cursor: pointer;
	transform: scale(1.02);
	width: 80%;
	margin-left: 32px;
}
.urlBox{
	display: flex;
	height: 40px;
	width: 95%;
	align-items: center;
}
#copyText{
	/*visibility: hidden;*/
	height: 0px;
}
/*background: linear-gradient(to right, rgb(98, 70, 70), rgb(31, 58, 71));*/